<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - About</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico"> 
    <script src ="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>


</head>
<body>
    
   <header>
    <nav>
        <ul>
            <li type="none"><a href="/">HOME</a></li>
            <li type="none"><a href="/about">ABOUT</a></li>
            <li type="none"><a href="music">MUSIC</a></li>
            <li type="none"><a href="contact">CONTACT</a></li>
        </ul>      
        
    </nav>

    <ul>  
        <li type="none"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: #0d0d0d;"></i></i></a></li>
        <li type="none"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #0d0d0d;"></i></a></li>
        <li type="none"><a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: #0d0d0d;"></i></a></li>
        <li type="none"><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: #0d0d0d;"></i></a></li>
        <li type="none"><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #0d0d0d;"></i></a></li>
        <li type="none"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: #0d0d0d;"></i></a></li>
    </ul>
    
    <img src="/img/emilia-about.jpg" alt="background Emilia" width="100%">
   </header>

<h1>ABOUT <br>EMILIA //</h1>

<article>
<h3>"Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful album"</h3>
<h5>- John Tirckle, Music Today Post</h5>
</article>

<article>
    <h3>"Emilia Cole is onde of the<br>scene`s breakout stars"</h3>
    <h5>- John Tirckle, Music Today Post</h5>
    </article>

</body>
</html>