<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - Contact</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico"> 
    <script src ="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>


</head>
<body>
    <header>
    <nav>
        <ul>
            <li type="none"><a href="/">HOME</a></li>
            <li type="none"><a href="/about">ABOUT</a></li>
            <li type="none"><a href="music">MUSIC</a></li>
            <li type="none"><a href="contact">CONTACT</a></li>
        </ul>      
        
    </nav>
    <ul>
        <li type="none"><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: #0d0d0d;"></i></i></a></li>
        <li type="none"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #0d0d0d;"></i></a></li>
        <li type="none"><a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: #0d0d0d;"></i></a></li>
        <li type="none"><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: #0d0d0d;"></i></a></li>
        <li type="none"><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #0d0d0d;"></i></a></li>
        <li type="none"><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: #0d0d0d;"></i></a></li>
    </ul>
   
   </header>
   <h1>CONTACT //</h1>
     
   <h4>WE ARE HERE</h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224543.7180922676!2d-0.185501921974812!3d51.552080561259594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697159588172!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   
   <article>
        <h2>CONTACT INFO </h2>
        <h4 style="color:green">MANAGEMENT | Karen Blanche</h4> 
        <p>email:<a href="mailto:hryniguez@gmail.com">info@mysite.com</a></p>
        <p>phone:<a href="tel:+5449415019">123-456-7890</a></p>
        <br>
   </article>
   
   <article>
        <h4 style="color:green">BOOKING | Daniel Ku</h4>
        <p>email:<a href="mailto:info@ysite.com">info@mysite.com</a></p>
        <p>phone:<a href="tel:12-456-7890">123-456-7890</a></p>  
        <br>
    </article>
       
   <article>
        <h4 style="color:green">LABEL | Wix Records, Jake Coldman</h4>
        <p>email:<a href="mailto:info@ysite.com">info@mysite.com</a></p>
        <p>phone:<a href="tel:12-456-7890">123-456-7890</a></p>
        <br>
   </article>
    
   <article>
        <h4 style="color:green">LPR | That Girl Pr, Sarah Brookstone</h4>
        <p>email:<a href="mailto:info@ysite.com">info@mysite.com</a></p>
        <p>phone:<a href="tel:12-456-7890">123-456-7890</a></p>
   </article>


</body>
</html>