<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - MUSIC</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico"> 
    <script src ="https://kit.fontawesome.com/b99d7ed5f9.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="top">
        <img src="/img/emilia-music-top.jpg" alt="background header music section">
        <nav>
            <ul>
                <li><a href="/">HOME |</a></li>
                <li><a href="/about">ABOUT |</a></li>
                <li><a href="music">MUSIC |</a></li>
                <li><a href="contact">CONTACT |</a></li>
            </ul>      
            
        </nav>
        <ul>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: #0d0d0d;"></i></i></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #0d0d0d;"></i></a></li>
            <li><a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: #0d0d0d;"></i></a></li>
            <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: #0d0d0d;"></i></a></li>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #0d0d0d;"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: #0d0d0d;"></i></a></li>
        </ul>
            
       </header>
       <h1>MUSIC //</h1>
       <section>
        <h4>Direct links</h4>
       <ul>
        <li><a href="">Album</a></li>
        <li><a href="#video1">video: Organic Love</a></li>
        <li><a href="#video2">video: Street Light</a></li>
       </ul>

        <article>
            <h2>ALMUM <br>TWIST IN MY REALITY</h2>
            <img src="/img/emilia-play-list.png" alt="Imagen del album">
            <ol>
                <li>Organic Love | 02:40</li>
                <li>Twist in My Reality | 02:10</li>
                <li>Street Light | 03:28</li>
                <li>Love Dont Live Here Anymore (Cover) | 03:49</li>
            </ol>
            <h5 > <a href="#top"> Go Top</a></h5>
            
        </article>

        <h4>VIDEO <br>ORGANIC LOVE</h4>
        <article id="video1"></article>
        <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p>Directed by VINCE MALC & EMILA COLE <br>Edited and filmed by NICOLAS TROY <br>Produced by NIKI HEART, <br>Wix Films LTD. </p>
        <h5 > <a href="#top"> Go Top</a></h5>

        <h4>VIDEO <br>STREET LIGHT</h4>
        <article id="video2"></article>
        <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p>Directed by VINCE MALC & EMILA COLE <br>Edited and filmed by NICOLAS TROY <br>Produced by NIKI HEART, <br>Wix Films LTD. </p>
        <h5 > <a href="#top"> Go Top</a></h5>
    </section>
</body> 


</html>